# Arquivos auxiliares do latex
*.log
*.aux
*.dvi
*.lof
*.lot
*.bit
*.idx
*.glo
*.bbl
*.bcf
*.ilg
*.toc
*.ind
*.out
*.blg
*.fdb_latexmk
*.fls
*.run.xml
*.synctex.gz
*.acn
*.glsdefs
*.ist

# Arquivos dos exemplos
ppgccufmg-exemplos/mirella_v1.44/*
ppgccufmg-exemplos/vilarneto_v1.60/*
